<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :users %>
    <%= select_tag :user_id, options_for_select(User.order(:first_name).all.map{|u| [u.full_name, u.id]}, User.where(team_id: @team.id).map{|u| u.id}), {multiple: true, class: 'form-control', style: 'height: 500px;'} %>
  </div>
  <%= f.submit t('.submit', :default => "Submit"), class: "btn btn-primary" %>
<% end %>
