<h1>Listing teams</h1>

<div id='teams'>
  <table id='teams-table' class='table table-hover table-striped table-bordered'>
    <tr>
      <th>Name</th>
      <th>Members</th>
      <th></th>
      <th></th>
    </tr>

  <% @teams.each do |team| %>
    <tr>
      <td><%= link_to team.name, team_path(team) %></td>
      <td>
        <ul>
        <% team.users.each do |u| %>
          <li><%= link_to u.full_name, user_path(u) %>
        <% end %>
        </ul>
      </td>
      <td><%= link_to 'Edit', edit_team_path(team) %></td>
      <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </table>

</div>

<br />

<%= link_to 'New Team', new_team_path %>
