<div class="col-sm-3 col-md-3 sidebar">
  <%= render 'shared/current_user_panel' %>
</div>
<div class="col-sm-9 col-md-9 main">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Team Listings</h3>
    </div>
    <div class='panel-body'>
      <div class="row">
        <div class="col-md-12">
          <form class="form-group" id="user-search-form" method='get'>
            <div class="input-group">
              <input type="text" name="query" class="form-control" id='user-search-input' placeholder="Search user names..." value='<%= params[:query] ? params[:query].split(',').join(" ") : nil%>'>
              <span class="input-group-btn">
                <input class="btn btn-default" type="submit">Search</input>
              </span>
            </div>
          </form>
        </div>
      </div>
      <div id='teams'>
        <table id='teams-table' class='table table-hover'>
          <tr>
            <th>Name</th>
            <th>Members</th>
            <th></th>
            <th></th>
          </tr>

        <% @teams.each do |team| %>
          <tr>
            <td><%= link_to team.name, team_path(team) %></td>
            <td>
              <ul>
              <% team.users.each do |u| %>
                <li><%= link_to u.full_name, user_path(u) %> <%= user_status_badge(u) %></span></li>
              <% end %>
              </ul>
            </td>
            <td><%= link_to 'Edit', edit_team_path(team) %></td>
            <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
        </table>
        <div class="col-md-8 col-md-offset-2">
          <%= will_paginate @teams, renderer: BootstrapPagination::Rails %>
        </div>

      </div>
      <%= link_to 'New Team', new_team_path %>


    </div>

  </div>
</div>
