<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="btn-group pull-right">
      <%= link_to('Edit', edit_team_path(@team), class: 'btn btn-primary') %>
    </div>
    <h4><%= @team.name %></h4>
  </div>
  <div class="panel-body">
    <table class='table table-hover'>
      <thead>
        <th>Members</th>
        <th>Status</th>
      </thead>
      <tbody>
        <% @team.users.each do |u| %>
          <tr>
            <td><%= link_to u.full_name, u %></td>
            <td><%= user_status_badge(u) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>

<%= link_to 'Back', teams_path %>
