<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Edit Profile</h4>
  </div>
    <div class='panel-body'>
      <%= form_for(@user, :html => {:class => "form-group"}) do |f| %>
      <div class='form-group'>
        <%= f.label :status %>
        <%= f.select :status, User::STATUSES.keys, {}, :class => "form-control" %>
      </div>
      <div class='form-group'>
        <%= f.label :email %>
        <%= f.text_field :email, :class => "form-control" %>
      </div>
      <div class='form-group'>
        <%= f.label :first_name %>
        <%= f.text_field :first_name, :class => "form-control" %>
      </div>
      <div class='form-group'>
        <%= f.label :last_name %>
        <%= f.text_field :last_name, :class => "form-control" %>
      </div>
      <div class='form-group'>
        <%= f.label :team_id, 'Team' %>
        <%= f.select :team_id, options_for_select(Team.all.map{|t| [t.name,t.id]}, current_user.team_id), {}, {class: 'form-control'} %>
      </div>
      <div><%= f.submit "Save" %></div>
      <% end %>
    </div>
  </div>
</div>
