<div class="col-sm-3 col-md-3 sidebar">
  <div class="panel panel-default" id="current-user-control-panel">
    <div class="panel-heading">
      <h3 class="panel-title">My Info</h3>
    </div>
    <div class="panel-body">
      <%= react_component 'CurrentUserInfo', {url: user_path(current_user), pollInterval: 1000, data: JSON.parse(current_user.to_json(include: :team)) }%>
      <hr/>
      <%= form_for(current_user, html: {class: "form-group", id: "current-user-control-form"}) do |f| %>
        <div class='form-group'>
          <%= f.label :status %>
          <%= f.select :status, User::STATUSES.keys.map{|k| [k.capitalize, k]}, {}, {class: "form-control", id: "current-user-status-control"} %>
        </div>
        <div class='form-group'>
          <%= f.label :team_id, "Team" %>
          <%= f.select :team_id, Team.all.map{|t| [t.name, t.id]}, {}, {class: "form-control", id: 'current-usr-team-control'} %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="col-sm-9 col-md-9 main">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">User Listings</h3>
    </div>
    <div class='panel-body'>
      <div class="row">
        <div class="col-md-12">
          <form class="form-group" id="user-search-form" method='get'>
            <div class="input-group">
              <input type="text" name="query" class="form-control" id='user-search-input' placeholder="Search user names..." value='<%= params[:query] ? params[:query].split(',').join(" ") : nil%>'>
              <span class="input-group-btn">
                <input class="btn btn-default" type="submit">Search</input>
              </span>
            </div>
          </form>
        </div>
      </div>
      <div id='users'>
        <%= react_component 'UsersTable', {url: users_path, params: params, pollInterval: 1000, users: JSON.parse(@users.to_json(include: :team))} %>
        <div class="col-md-8 col-md-offset-2">
          <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
        </div>
      </div>


    </div>
  </div>
</div>
